body {
  background-color: #f2f2f2;
}

.madlibs {
  border: 2px solid #1a0000;
  margin: 1em 2em 4em 2em;
  background-color: #ffffff;
}

.top {
  text-align: center;
  border-bottom: 2px solid #1a0000;
  padding-bottom: 6em;
}

label {
  padding: 0.5em;
}

.radio {
  margin: 0 auto;
  box-shadow: none;
  width: 3em;
}

.banner {
  width: 100%;
}

.image img {
  width: 50%;
  padding: 2em;
}

.nglogo img {
  width: 35%;
  padding-bottom: 0em;
}

.nglogo {
  padding: 2em;
}

h1 {
  font-size: 3em
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.image {
  border-right: 2px solid #1a0000;
}

td {
  border-bottom: 2px solid #1a0000;
  border-collapse: collapse;
  border-spacing: 0;
}

.inputs {
  padding: 3em 0;
}

h3,
h4 {
  text-align: left;
  padding: 2em 0 1em 0;
  margin-left: 3em;
}

h4 {
  text-align: center;
  margin: 0 auto;
}

input {
  border-radius: 1px;
  box-shadow: 0px 2px 2px #1a0000;
  width: 10%;
  margin: 0.2em;
  text-align: center;
}

p {
  text-indent: 20px;
  line-height: 150%;
  width: 80%;
  margin: 0.5em auto;
}

.story {
  padding: 1em 0 4em 0;
  margin: 4em auto;
}

strong {
  text-transform: lowercase;
  text-shadow: 1px 1px #a6a6a6;
  box-shadow:0 4px 8px 0 #a6a6a6;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0 4px 1px 4px;
}

.cap {
  text-transform: capitalize;
}

a {
  text-shadow: 1px 1px #008080;
}
